.App {
    font-family: 'IBM Plex Sana Thai Looped' sans-serif;
    color: black;
    /* background: linear-gradient(179deg, #176eb5, #d545d7); */
    /* text-shadow: 1px 0px 2px #8dc4f0; */
}

.topbar {
    display: flex;
    align-items: start;
    background-color: rgba(255,255,255,0.3);
    /* box-shadow: 0 8px 20px 0 rgba(31, 38, 135, 0.37); */
    backdrop-filter: blur(5.5px); 
    /* border-radius: 10px; */
    border: 1px solid rgba(0, 0, 0, 0.18);
}

.noLoginTopbar {
    display: flex;
    align-items: start;
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}




  
