.pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  background-color: white;
  color: black;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 5px;
  margin-right: 5px;
}

ul.pagination li:hover {
  background-color: black;
}

ul.pagination li:hover a {
  color: white; /* li가 hover 상태일 때 텍스트 색상을 하얀색으로 변경 */
}

ul.pagination li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  /* 3px 위로 올려서 박스의 중간에 위치하게 함 */
  padding-bottom: 3px;
}

ul.pagination li.active a {
  color: white;
}

ul.pagination li.active {
  background-color: black;
}

/* 이부분이 무슨 내용인지 모르겠음 */
/* .page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
} */
