.App {
    display: flex;
    color: black;
    /* background: linear-gradient(179deg, #176eb5, #d545d7); */
    /* text-shadow: 1px 0px 2px #8dc4f0; */
}
  
.bodyContainer {
    flex : 1;
}

.sidebarContainer {
    height: 100vh;
    position : sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.sidebar {
    display: flex;
    width: 14rem;
    height: 100%;
    position: relative;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(5.5px);
    border-right: 1px solid rgba(0, 0, 0, 0.18);
    
}

.profile {
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.profile>img{
    width: 100%;
    border-radius: 50%;
}


.groups {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h3 {
    font-size: 1rem,
    margin 10px 0px
}

.blogName {
    font-weight: bold;
    margin: 0;
}

.mngtActive {
    
    transition: all 0.4s ease;
    color : black;
    font-weight: bold;
    border-left: 8px solid black;
}

.active {
    transition: all 0.4s ease;
    color : white;
    border-left: 8px solid white;
}

.categoryActive {
    transition: all 0.4s ease;
    
    color : white;
    border-left: 6px solid white;
    
}

.themeText {
    transition: all 0.4s ease;
    font-size: 18px;
    display: block;
    margin : 10px 0;
    padding-left: 10px;
    font-weight: bold;
}

.mngtText {
     transition: all 0.4s ease;
    font-size: 18px;
    display: block;
    margin : 10px 0;
    padding-left: 10px;
    font-weight: bold;
}

.mngtText:hover {
    transition: all 0.4s ease;
    transform: scale(1.1);

    font-weight: bold;
}

.themeText:hover {
    transition: all 0.4s ease;
    transform: scale(1.1);

    color :white;
}

.categoryText {
    transition: all 0.4s ease;
    display: block;
    padding-left: 20px;
}

.categoryText:hover {
    transition: all 0.4s ease;
    transform: scale(1.1);

    color : white;
}

.emailName {
    text-decoration: underline;
}
