.footerContainer {
    background-color: rgba(255,255,0,0.7);
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.footerSubscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    padding: 12px;
    color: black;
}

.footerSubscription > p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.footerSubscriptionHeading {
    margin-bottom: 24px;
    font-size: 24px;

}

.footerSubscriptionText {
    margin-bottom: 24px;
    font-size: 20px;

}

.footerInput {
    padding: 8px 20px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    border: 1px solid #fff;
}



.inputAreas {
    padding-right:4px ;
    display: flex;
  }
  
  .footerInput {
    flex: 1; /* Take as much space as possible */
    padding: 10px;
  }
.btn {
    margin-left: 10px;
    padding-left: 10px;
}
.p {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
  


