.App {
    /* background: linear-gradient(179deg, #176eb5, #d545d7); */
    /* background-image: url("/Users/gachonswacademy06/Documents/kakaoSWA/AllwaysBlogFront/mngt/AllwaysBlog-FE/client/public/img/洹�1.png"); */
    /* background-image: url("/Users/gachonswacademy06/Documents/kakaoSWA/AllwaysBlogFront/mngt/AllwaysBlog-FE/client/public/img/洹�2.png"); */
    /* background-image: url("/Users/gachonswacademy06/Documents/kakaoSWA/AllwaysBlogFront/mngt/AllwaysBlog-FE/client/public/img/洹�3.png"); */
    background-image: url("/public/img/Turkye.jpg");
    background-size: 100% ;
    background-repeat: repeat;
    background-color: black;
    /* opacity: 50%; */
    font-family: "Yeongdeok Blueroad";
    
   
} 
@font-face {
    font-family: "Yeongdeok Blueroad";
    src: url("./fonts/Yeongdeok\ Blueroad.ttf");
}

@font-face {
    font-family: "Yeongdeok Snow Crab";
    src: url("./fonts/Yeongdeok\ Snow\ Crab.ttf");
}
